Optical Character Verification is a process where printed text and codes are read by a vision system and compared to what is expected.

OCV is most commonly implemented as part of [[Serialisation]].

OCV is distinctly different from OCR for Example; if a label stated 006 instead of 008 this would be rejected despite being legiable as it states the wrong code.